@tailwind base;
@tailwind components;
@tailwind utilities;

input, select, textarea {
    position: relative;
    display: block;
    width: 100%;
    border-radius: .25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(170 170 170/var(--tw-border-opacity));
    padding: .75rem
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem
}